<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".EdukidApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_edukid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_edukid_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Edukid"
        tools:targetApi="34">
        <activity
            android:name=".views.splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.users.menu.UserSelectionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".views.users.resume.UserAddActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.themes.ThemeSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.statistics.StatisticActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.resultsGame.ResultGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.menu.GameSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.menu.SubGameSelectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.play.DrawOnItGame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.play.MemoryGame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.play.PlayWithSoundGame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.games.play.WordWithHoleGame"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>